{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'adminworkenv/css/style.css' %}">
    <title>ADMIN</title>
</head>


<body>


        <div class="room" style="margin:60px auto auto auto;max-width:300px">
          <a href="{% url 'adminworkenv:search_bookings_view' %}">


          <h2>Есть бронь<h2>
          </a>
        </div>
	  
	      <div class="room" style="margin:60px auto auto auto;max-width:300px">
          <a href="{% url 'hotel:BookingView' %}">

          <h2>Нет брони<h2>
          </a>
        </div>

        <div class="room" style="margin:60px auto auto auto;max-width:300px">
          <a href="{% url 'adminworkenv:GetDataView' %}">

          <h2>Получить данные<h2>
          </a>
        </div>

        <div class="room" style="margin:60px auto auto auto;max-width:300px">
          <a href="{% url 'adminworkenv:GetExcelView' %}">

          <h2>Получить эксель<h2>
          </a>
        </div>

</body>