<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking List</title>
</head>

<body>
<h2>CheckIns</h2>
      <!-- Main Content -->
      <div id="rooms">
        {% for checkin in checkin_list %}
        <div class="room">
          <br />
          <h2>{{ checkin.firstname }} {{ checkin.lastname }} {{ checkin.email }}<h2>
          <h2>{{ checkin.room }}<h2>
          <h2>{{ checkin.check_in.date }} : {{ checkin.check_out.date }}<h2>
          {% if checkin.check_in.time != midnight %}
            <h2>Moved was been<h2>
          {% else %}
            <h2>No moved<h2>
          {% endif %}
          <br />
          <br />
          <br />

        </div>

        {% endfor %}
      </div>
</body>

</html>