* {
    box-sizing: border-box;
}

:root {
    --black-clr: hsla(252, 6%, 12%, 1);
    --text-primary-clr: var(--black-clr);
    --font-fallback: BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-body: "Roboto", var(--font-fallback);
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font-body);
    color: var(--text-primary-clr);
    display: flex;
    flex-direction: column;
    background: #EDFAF1;

}

.container {
    max-width: 1020px;
    padding: 0 10px;
    margin: 0 auto;
}

.btn {
    display: block;
    padding: 10px 8px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;

    /* Black */

    border: 1px solid var(--text-primary-clr);
    border-radius: 8px;
    color: var(--text-primary-clr);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

@media screen and (max-width:340px) {
    .btn {
        padding: 7px 7px;
        line-height: 12px;
        font-size: 13px;
    }
    .search-bar input {
        box-shadow: 0 0 0 0.4em #f1f1f1 inset;
    }
    .search-bar input:focus,
    .search-bar input:valid {
        background: #3d3d3d;
        box-shadow: 0 0 0 0.1em #3d3d3d inset;
    }
    .search-btn {
        background: #f1f1f1;
    }

}


.header {}

.header__nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 10px;
    background: #FFFFFF;
    border-radius: 0px 0px 8px 8px;
}

@media screen and (max-width:620px) {

    .header__nav {
        padding: 0;
    }
}

.header__start {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header__start-item {}

.header__logo {}

.header__end {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;


}

.header__end-item {
    display: block;

}

.header__bnt {
    margin-right: 20px;
}

@media screen and (max-width:620px) {

    .header__bnt {
        margin-right: 10px;
    }
}

@media screen and (max-width:350px) {
    .header__bnt {
        margin-right: 4px;
    }
}

.header__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: inherit;
    text-decoration: none;
    display: block;
}

.header__login {}

.header__slash {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: block;
}

.header__register {}



.header__profile {
    margin-left: 8px;
    display: flex;
    align-items: center;
}

@media screen and (max-width:620px) {

    .header__login,
    .header__slash,
    .header__register {
        display: none;
    }

    .header__profile {
        margin: 0;
    }
}

.footer {
    background: var(--black-clr);
}

.footer__inner {
    display: flex;
    align-items: center;
    height: 60px;
}

.footer__logo {
    height: 40px;
    display: flex;
    text-decoration-style: none;
    color: inherit;
    align-items: center;
}

.main {
    min-height: calc(100vh - 60px);
}

.main__preview {
    height: 375px;

    background-image: url(../images/preview-bg.jpg);
    position: relative;
    align-items: center;
}


.main__preview::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    height: 100%;
    width: 100%;
}


.preview__title {
    position: absolute;
    margin: 0;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 1;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
}


.section {
    padding: 50px 0 30px 0;
    min-height: 100vh;
}


.section__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
}

.rooms {}


.rooms__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 235px));
    padding: 0;
    list-style: none;
    gap: 20px;
}

@media screen and (max-width: 700px) {
    .rooms__list {
        grid-template-columns: repeat(3, minmax(150px, 235px));
    }
}

@media screen and (max-width: 570px) {
    .rooms__list {
        grid-template-columns: repeat(2, minmax(150px, 235px));
    }
}

@media screen and (max-width: 365px) {
    .rooms__list {
        grid-template-columns: minmax(150px, 100%);
    }
}

.rooms__list-item {}

.room {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap: 6px;
    color: inherit;
    text-decoration: none;
}

.room__title {
    padding: 0px 4px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;

}


.room__image-wrapper {
    position: relative;

}
.info {
    padding: 0;
    list-style: none;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0px 8px;
    padding: 0px 6px;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}

.info_item {
    display: flex;
    align-items: center;
    padding: 2px 0px;
    gap: 4px;
}

.info_text {
    color: #fff;
}

.info_icon {
    display: flex;
}

.room__info {
    position: absolute;
    right: 0;
    top: 0;

}


.room__image {
    display: block;
    border-radius: 8px;
    width: 100%;

}

.rooms__btn {
    max-width: 275px;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    background: var(--black-clr);
}



[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
