<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking Room</title>
</head>

<body>
  <form action="" method="POST">
    <div class="input-wrapper">
        <label for="room_type-id">Room Type</label>
        {{ form.room_type }}
    </div>
    <div class="input-wrapper">
        <label for="password-id">First name</label>
          {{ form.firstname }}
    </div>
    <div class="input-wrapper">
        <label for="room_type-id">Last name</label>
        {{ form.lastname }}
    </div>
    <div class="input-wrapper">
        <label for="room_type-id">Email</label>
        {{ form.email }}
    </div>
    <div class="input-wrapper">
        <label for="room_type-id">Phone number</label>
        {{ form.phone_number }}
    </div>
    <div class="input-wrapper">
        <label for="room_type-id">From</label>
        {{ form.check_in }}
    </div>
    <div class="input-wrapper">
        <label for="room_type-id">To</label>
        {{ form.check_out }}
    </div>
    {% csrf_token %}
    <button type="submit">Book</button>
  </form>
</body>

</html>