<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking Room</title>
</head>

<body>
  <form action="" method="POST">
    <div class="input-wrapper">
        <label for="room_type-id">Room Type</label>
        {{ form.room_type }}
    </div>
    <div class="input-wrapper">
        <label for="password-id">First name</label>
          
        {% if user.is_authenticated and not user.is_staff %}
          <input value='{{ request.user.firstname }}' name="firstname" autocomplete="on">
        {% else %}
          {{ form.firstname }}
        {% endif %}

    </div>
    <div class="input-wrapper">
        <label for="room_type-id">Last name</label>

        {% if user.is_authenticated and not user.is_staff %}
          <input value='{{ request.user.lastname }}' name="lastname" autocomplete="on">
        {% else %}
          {{ form.lastname }}
        {% endif %}

    </div>
    <div class="input-wrapper">
        <label for="room_type-id">Email</label>
        
        {% if user.is_authenticated and not user.is_staff %}
          <input value='{{ request.user.email }}' type=email name="email" autocomplete="on">
        {% else %}
          {{ form.email }}
        {% endif %}
        
    </div>
    <div class="input-wrapper">
        <label for="room_type-id">Phone number</label>
                
        {% if user.is_authenticated and not user.is_staff %}
          <input value='{{ request.user.phone_number }}' name="phone_number" autocomplete="on">
        {% else %}
          {{ form.phone_number }}
        {% endif %}
        
    </div>
    <div class="input-wrapper">
        <label for="room_type-id">From</label>
        {{ form.check_in }}
    </div>
    <div class="input-wrapper">
        <label for="room_type-id">To</label>
        {{ form.check_out }}
    </div>
    {% csrf_token %}
    <button type="submit">Book</button>
  </form>
</body>

</html>