<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Room List</title>
</head>

<body>
<h2>Rooms</h2>
      <!-- Main Content -->
      <div id="rooms">
        {% for room, room_type, room_url in room_list %}
        <div class="room">
          <a href="{{ room_url }}">

          <h2>{{ room_type }}<h2>
          </a>
          <img class="room__image" src="{{ room.img.url }}" alt="" />
        </div>

        {% endfor %}
      </div>

      {% if user.is_authenticated and user.is_staff %}
      <div class="home">
            <a href="{% url 'adminworkenv:admin_page_view' %}"><i class="fas fa-arrow-alt-circle-left">ADMIN</i></a>
      </div>
      {% endif %}
      
</body>

</html>