<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Room List</title>
</head>

<body>
<h2>Rooms</h2>
      <!-- Main Content -->
      <div id="rooms">
        {% for room_type, room_url in room_list %}
        <div class="room">
          <a href="{{ room_url }}">

          <h2>{{ room_type }}<h2>
          </a>
        </div>

        {% endfor %}
      </div>


      <form class="example" action="{% url 'adminworkenv:booking_list' %}" style="margin:20px auto auto auto;max-width:300px">
        <input type="text" placeholder="Search.." name="search_booking">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
</body>

</html>