{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'userlogin/css/style.css' %}">
    <title>Login</title>
</head>

<form action="" method="POST">
  {% csrf_token %}
  <div class="container">
    <h1>Login</h1>
    <p>Kindly fill in this form to login.</p>

    <label for="email"><b>Email</b></label>
    {{ form.email }}

    <label for="pwd"><b>Password</b></label>
    {{ form.password }}

    <button type="submit">Login</button>
  </div>

</form>